{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://www.googleapis.com/"
    }
  ],
  "info": {
    "title": "Drive API",
    "description": "Manages files in Drive including uploading, downloading, searching, detecting changes, and updating sharing permissions.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v3"
  },
  "paths": {
    "/drive/v3/about": {
      "get": {
        "description": "Gets information about the user, the user's Drive, and system capabilities.",
        "operationId": "drive.about.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/About"
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "about"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/changes/startPageToken": {
      "get": {
        "description": "Gets the starting pageToken for listing future changes.",
        "operationId": "drive.changes.getStartPageToken",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StartPageToken"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "driveId",
            "in": "query",
            "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive is returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "teamDriveId",
            "in": "query",
            "description": "Deprecated use driveId instead.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "changes"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/changes": {
      "get": {
        "description": "Lists the changes for a user or shared drive.",
        "operationId": "drive.changes.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeList"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driveId",
            "in": "query",
            "description": "The shared drive from which changes are returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeCorpusRemovals",
            "in": "query",
            "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeItemsFromAllDrives",
            "in": "query",
            "description": "Whether both My Drive and shared drive items should be included in results.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includePermissionsForView",
            "in": "query",
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeRemoved",
            "in": "query",
            "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeTeamDriveItems",
            "in": "query",
            "description": "Deprecated use includeItemsFromAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of changes to return per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "name": "restrictToMyDrive",
            "in": "query",
            "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "spaces",
            "in": "query",
            "description": "A comma-separated list of spaces to query within the user corpus. Supported values are 'drive', 'appDataFolder' and 'photos'.",
            "schema": {
              "type": "string",
              "default": "drive"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "teamDriveId",
            "in": "query",
            "description": "Deprecated use driveId instead.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "changes"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/changes/watch": {
      "post": {
        "description": "Subscribes to changes for a user.",
        "operationId": "drive.changes.watch",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driveId",
            "in": "query",
            "description": "The shared drive from which changes are returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeCorpusRemovals",
            "in": "query",
            "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeItemsFromAllDrives",
            "in": "query",
            "description": "Whether both My Drive and shared drive items should be included in results.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includePermissionsForView",
            "in": "query",
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeRemoved",
            "in": "query",
            "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeTeamDriveItems",
            "in": "query",
            "description": "Deprecated use includeItemsFromAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of changes to return per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "name": "restrictToMyDrive",
            "in": "query",
            "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "spaces",
            "in": "query",
            "description": "A comma-separated list of spaces to query within the user corpus. Supported values are 'drive', 'appDataFolder' and 'photos'.",
            "schema": {
              "type": "string",
              "default": "drive"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "teamDriveId",
            "in": "query",
            "description": "Deprecated use driveId instead.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "changes"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Channel"
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/channels/stop": {
      "post": {
        "description": "Stop watching resources through this channel",
        "operationId": "drive.channels.stop",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "channels"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Channel"
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/files/{fileId}/comments": {
      "post": {
        "description": "Creates a new comment on a file.",
        "operationId": "drive.comments.create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "comments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Comment"
              }
            }
          }
        }
      },
      "get": {
        "description": "Lists a file's comments.",
        "operationId": "drive.comments.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommentList"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Whether to include deleted comments. Deleted comments will not include their original content.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of comments to return per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startModifiedTime",
            "in": "query",
            "description": "The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "comments"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/files/{fileId}/comments/{commentId}": {
      "delete": {
        "description": "Deletes a comment.",
        "operationId": "drive.comments.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "description": "The ID of the comment.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "comments"
        ]
      },
      "get": {
        "description": "Gets a comment by ID.",
        "operationId": "drive.comments.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "description": "The ID of the comment.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "Whether to return deleted comments. Deleted comments will not include their original content.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "comments"
        ]
      },
      "patch": {
        "description": "Updates a comment with patch semantics.",
        "operationId": "drive.comments.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "description": "The ID of the comment.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "comments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Comment"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/drives": {
      "post": {
        "description": "Creates a new shared drive.",
        "operationId": "drive.drives.create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Drive"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "description": "An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          }
        ],
        "tags": [
          "drives"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Drive"
        }
      },
      "get": {
        "description": "Lists the user's shared drives.",
        "operationId": "drive.drives.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DriveList"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "Maximum number of shared drives to return per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Page token for shared drives.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Query string for searching shared drives.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "useDomainAdminAccess",
            "in": "query",
            "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "drives"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/drives/{driveId}": {
      "delete": {
        "description": "Permanently deletes a shared drive for which the user is an organizer. The shared drive cannot contain any untrashed items.",
        "operationId": "drive.drives.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "driveId",
            "in": "path",
            "description": "The ID of the shared drive.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          }
        ],
        "tags": [
          "drives"
        ]
      },
      "get": {
        "description": "Gets a shared drive's metadata by ID.",
        "operationId": "drive.drives.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Drive"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "driveId",
            "in": "path",
            "description": "The ID of the shared drive.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "useDomainAdminAccess",
            "in": "query",
            "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "drives"
        ]
      },
      "patch": {
        "description": "Updates the metadate for a shared drive.",
        "operationId": "drive.drives.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Drive"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "driveId",
            "in": "path",
            "description": "The ID of the shared drive.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "useDomainAdminAccess",
            "in": "query",
            "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          }
        ],
        "tags": [
          "drives"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Drive"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/drives/{driveId}/hide": {
      "post": {
        "description": "Hides a shared drive from the default view.",
        "operationId": "drive.drives.hide",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Drive"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "driveId",
            "in": "path",
            "description": "The ID of the shared drive.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          }
        ],
        "tags": [
          "drives"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/drives/{driveId}/unhide": {
      "post": {
        "description": "Restores a shared drive to the default view.",
        "operationId": "drive.drives.unhide",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Drive"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "driveId",
            "in": "path",
            "description": "The ID of the shared drive.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          }
        ],
        "tags": [
          "drives"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/files/{fileId}/copy": {
      "post": {
        "description": "Creates a copy of a file and applies any requested updates with patch semantics. Folders cannot be copied.",
        "operationId": "drive.files.copy",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enforceSingleParent",
            "in": "query",
            "description": "Deprecated. Copying files into multiple folders is no longer supported. Use shortcuts instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ignoreDefaultVisibility",
            "in": "query",
            "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includePermissionsForView",
            "in": "query",
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keepRevisionForever",
            "in": "query",
            "description": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ocrLanguage",
            "in": "query",
            "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          }
        ],
        "tags": [
          "files"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/File"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/upload/drive/v3/files/{fileId}": {
      "patch": {
        "description": "Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might change automatically, such as modifiedDate. This method supports patch semantics.",
        "operationId": "drive.files.update_content",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "uploadType",
            "in": "query",
            "required": true,
            "description": "The type of upload request to the /upload URI",
            "schema": {
              "type": "string",
              "enum": [
                "media",
                "multipart",
                "resumable"
              ],
              "default": "media"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addParents",
            "in": "query",
            "description": "A comma-separated list of parent IDs to add.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enforceSingleParent",
            "in": "query",
            "description": "Deprecated. Adding files to multiple folders is no longer supported. Use shortcuts instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includePermissionsForView",
            "in": "query",
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keepRevisionForever",
            "in": "query",
            "description": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ocrLanguage",
            "in": "query",
            "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "removeParents",
            "in": "query",
            "description": "A comma-separated list of parent IDs to remove.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "useContentAsIndexableText",
            "in": "query",
            "description": "Whether to use the uploaded content as indexable text.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.scripts"
            ]
          }
        ],
        "tags": [
          "files"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "Media": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/upload/drive/v3/files": {
      "post": {
        "description": "Creates a new file.",
        "operationId": "drive.files.upload",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "uploadType",
            "in": "query",
            "required": true,
            "description": "The type of upload request to the /upload URI",
            "schema": {
              "type": "string",
              "enum": [
                "media",
                "multipart",
                "resumable"
              ],
              "default": "multipart"
            }
          },
          {
            "name": "enforceSingleParent",
            "in": "query",
            "description": "Deprecated. Creating files in multiple folders is no longer supported.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ignoreDefaultVisibility",
            "in": "query",
            "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includePermissionsForView",
            "in": "query",
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keepRevisionForever",
            "in": "query",
            "description": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ocrLanguage",
            "in": "query",
            "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "useContentAsIndexableText",
            "in": "query",
            "description": "Whether to use the uploaded content as indexable text.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "files"
        ],
        "requestBody": {
          "content": {
            "multipart/related": {
              "schema": {
                "type": "object",
                "properties": {
                  "Metadata": {
                    "type": "string",
                    "format": "binary"
                  },
                  "Media": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/files": {
      "post": {
        "description": "Creates a new file.",
        "operationId": "drive.files.create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "enforceSingleParent",
            "in": "query",
            "description": "Deprecated. Creating files in multiple folders is no longer supported.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ignoreDefaultVisibility",
            "in": "query",
            "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includePermissionsForView",
            "in": "query",
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keepRevisionForever",
            "in": "query",
            "description": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ocrLanguage",
            "in": "query",
            "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "useContentAsIndexableText",
            "in": "query",
            "description": "Whether to use the uploaded content as indexable text.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "files"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/File"
        }
      },
      "get": {
        "description": "Lists or searches files.",
        "operationId": "drive.files.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "corpora",
            "in": "query",
            "description": "Groupings of files to which the query applies. Supported groupings are: 'user' (files created by, opened by, or shared directly with the user), 'drive' (files in the specified shared drive as indicated by the 'driveId'), 'domain' (files shared to the user's domain), and 'allDrives' (A combination of 'user' and 'drive' for all drives where the user is a member). When able, use 'user' or 'drive', instead of 'allDrives', for efficiency.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corpus",
            "in": "query",
            "description": "The source of files to list. Deprecated: use 'corpora' instead.",
            "schema": {
              "type": "string",
              "enum": [
                "domain",
                "user"
              ]
            }
          },
          {
            "name": "driveId",
            "in": "query",
            "description": "ID of the shared drive to search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeItemsFromAllDrives",
            "in": "query",
            "description": "Whether both My Drive and shared drive items should be included in results.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includePermissionsForView",
            "in": "query",
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeTeamDriveItems",
            "in": "query",
            "description": "Deprecated use includeItemsFromAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "A comma-separated list of sort keys. Valid keys are 'createdTime', 'folder', 'modifiedByMeTime', 'modifiedTime', 'name', 'name_natural', 'quotaBytesUsed', 'recency', 'sharedWithMeTime', 'starred', and 'viewedByMeTime'. Each key sorts ascending by default, but may be reversed with the 'desc' modifier. Example usage: ?orderBy=folder,modifiedTime desc,name. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "A query for filtering the file results. See the \"Search for Files\" guide for supported syntax.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spaces",
            "in": "query",
            "description": "A comma-separated list of spaces to query within the corpus. Supported values are 'drive' and 'appDataFolder'.",
            "schema": {
              "type": "string",
              "default": "drive"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "teamDriveId",
            "in": "query",
            "description": "Deprecated use driveId instead.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/files/{fileId}": {
      "delete": {
        "description": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive the user must be an organizer on the parent. If the target is a folder, all descendants owned by the user are also deleted.",
        "operationId": "drive.files.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enforceSingleParent",
            "in": "query",
            "description": "Deprecated. If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item will be placed under its owner's root.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "get": {
        "description": "Gets a file's metadata or content by ID.",
        "operationId": "drive.files.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              },
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "acknowledgeAbuse",
            "in": "query",
            "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includePermissionsForView",
            "in": "query",
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "patch": {
        "description": "Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might change automatically, such as modifiedDate. This method supports patch semantics.",
        "operationId": "drive.files.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addParents",
            "in": "query",
            "description": "A comma-separated list of parent IDs to add.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enforceSingleParent",
            "in": "query",
            "description": "Deprecated. Adding files to multiple folders is no longer supported. Use shortcuts instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includePermissionsForView",
            "in": "query",
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keepRevisionForever",
            "in": "query",
            "description": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ocrLanguage",
            "in": "query",
            "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "removeParents",
            "in": "query",
            "description": "A comma-separated list of parent IDs to remove.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "useContentAsIndexableText",
            "in": "query",
            "description": "Whether to use the uploaded content as indexable text.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.scripts"
            ]
          }
        ],
        "tags": [
          "files"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/File"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/files/trash": {
      "delete": {
        "description": "Permanently deletes all of the user's trashed files.",
        "operationId": "drive.files.emptyTrash",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "enforceSingleParent",
            "in": "query",
            "description": "Deprecated. If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item will be placed under its owner's root.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/files/{fileId}/export": {
      "get": {
        "description": "Exports a Google Doc to the requested MIME type and returns the exported content. Please note that the exported content is limited to 10MB.",
        "operationId": "drive.files.export",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mimeType",
            "in": "query",
            "description": "The MIME type of the format requested for this export.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/files/generateIds": {
      "get": {
        "description": "Generates a set of file IDs which can be provided in create or copy requests.",
        "operationId": "drive.files.generateIds",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GeneratedIds"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "The number of IDs to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10
            }
          },
          {
            "name": "space",
            "in": "query",
            "description": "The space in which the IDs can be used to create new files. Supported values are 'drive' and 'appDataFolder'. (Default: 'drive')",
            "schema": {
              "type": "string",
              "default": "drive"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of items which the IDs can be used for. Supported values are 'files' and 'shortcuts'. Note that 'shortcuts' are only supported in the drive 'space'. (Default: 'files')",
            "schema": {
              "type": "string",
              "default": "files"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/files/{fileId}/watch": {
      "post": {
        "description": "Subscribes to changes to a file",
        "operationId": "drive.files.watch",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "acknowledgeAbuse",
            "in": "query",
            "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includePermissionsForView",
            "in": "query",
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "files"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Channel"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/files/{fileId}/permissions": {
      "post": {
        "description": "Creates a permission for a file or shared drive.",
        "operationId": "drive.permissions.create",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file or shared drive.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailMessage",
            "in": "query",
            "description": "A plain text custom message to include in the notification email.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enforceSingleParent",
            "in": "query",
            "description": "Deprecated. See moveToNewOwnersRoot for details.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "moveToNewOwnersRoot",
            "in": "query",
            "description": "This parameter will only take effect if the item is not in a shared drive and the request is attempting to transfer the ownership of the item. If set to true, the item will be moved to the new owner's My Drive root folder and all prior parents removed. If set to false, parents are not changed.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sendNotificationEmail",
            "in": "query",
            "description": "Whether to send a notification email when sharing to users or groups. This defaults to true for users and groups, and is not allowed for other requests. It must not be disabled for ownership transfers.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "transferOwnership",
            "in": "query",
            "description": "Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect. File owners can only transfer ownership of files existing on My Drive. Files existing in a shared drive are owned by the organization that owns that shared drive. Ownership transfers are not supported for files and folders in shared drives. Organizers of a shared drive can move items from that shared drive into their My Drive which transfers the ownership to them.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "useDomainAdminAccess",
            "in": "query",
            "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "permissions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Permission"
              }
            }
          }
        }
      },
      "get": {
        "description": "Lists a file's or shared drive's permissions.",
        "operationId": "drive.permissions.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionList"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file or shared drive.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includePermissionsForView",
            "in": "query",
            "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "useDomainAdminAccess",
            "in": "query",
            "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "permissions"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ]
    },
    "/drive/v3/files/{fileId}/permissions/{permissionId}": {
      "delete": {
        "description": "Deletes a permission.",
        "operationId": "drive.permissions.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file or shared drive.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permissionId",
            "in": "path",
            "description": "The ID of the permission.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "useDomainAdminAccess",
            "in": "query",
            "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          }
        ],
        "tags": [
          "permissions"
        ]
      },
      "get": {
        "description": "Gets a permission by ID.",
        "operationId": "drive.permissions.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of the file.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permissionId",
            "in": "path",
            "description": "The ID of the permission.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supportsAllDrives",
            "in": "query",
            "description": "Whether the requesting application supports both My Drives and shared drives.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "supportsTeamDrives",
            "in": "query",
            "description": "Deprecated use supportsAllDrives instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "useDomainAdminAccess",
            "in": "query",
            "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.metadata.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.photos.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          }
        ],
        "tags": [
          "permissions"
        ]
      },
      "patch": {
[...]
